 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}


.topbar {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
}

.flag{
    align-items: left
    ;
}

.topbar .title {
    font-size: 22px;
    font-weight: bold;
}

.topbar .subtitle {
    font-size: 12px;
    margin-top: 2px;
}


.navbar {
    display: flex;
    justify-content: space-around;
    background: #1d8900;
    padding: 12px 0;
    box-shadow: 20px 3px 2px 1px; 
}

.navbar a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    
}


.windows {
    width: 400px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
}


.container {
    display: flex;
}


.sidebar {
    width: 180px;
    background: #f4f4f4;
    border-right: 1px solid #ccc;
    padding: 10px;
    height: 450px;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 40px 0;
    cursor: pointer;
}

.sidebar li:hover {
    background: #dfdbdb;
}
